body {
  text-align: center;
  background-color: #02475e;
  color: #fefecc;
  font-family: Arial, Helvetica, sans-serif;
}
form {
  text-align: left;
  background-color: #046788;
  padding: 20px;
  margin: auto;
  box-shadow: 0px 5px 5px #035f7e;
}

.btn {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  box-shadow: 0px 5px 5px #035f7e;
}
.btn--prin {
  background-color: #f3bda1;
}
.btn--sec {
  background-color: #687980;
}

.header {
  grid-area: header;
  background-color: #02475e;
}
.main {
  grid-area: main;
  background-color: #02475e;
}
.aside {
  grid-area: aside;
  background-color: #02475e;
}
.footer {
  grid-area: footer;
  background-color: #02475e;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header"
    "main main main aside aside"
    "footer footer footer aside aside";
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}
