.placeholder-content {
  height: 203px;
  overflow: hidden;
  background: #000;
  position: relative;
  animation-duration: 1.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeholderAnimate;
  background: #f6f7f8;
  background: linear-gradient(
    to right,
    var(--cnt-color) 2%,
    var(--lth-color) 18%,
    var(--cnt-color) 33%
  );
  background-size: 1300px;
}
.placeholder-content_item {
  width: 100%;
  height: 20px;
  position: absolute;
  background: var(--bkg-color);
  z-index: 2;
}
.placeholder-content_item:after,
.placeholder-content_item:before {
  width: inherit;
  height: inherit;
  content: "";
  position: absolute;
}
.placeholder-content_item:nth-child(1) {
  top: 0;
  left: 0;
}
.placeholder-content_item:nth-child(2) {
  top: 0px;
  left: 0;
  width: 10%;
  height: 100%;
}
.placeholder-content_item:nth-child(3) {
  top: 20px;
  width: 20px;
  left: 170px;
  height: 90px;
}
.placeholder-content_item:nth-child(4) {
  top: 40px;
  left: 190px;
  height: 12px;
}
.placeholder-content_item:nth-child(5) {
  top: 75px;
  left: 190px;
  height: 12px;
}
.placeholder-content_item:nth-child(6) {
  top: 20px;
  right: 0;
  width: 23%;
  height: 20px;
}
.placeholder-content_item:nth-child(7) {
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
}
/* A partir de ahora los proximos placeholder-content_item
seran generados por contentLoadingPlaceholder.js dependiendo
del largo definido en las clases placeholder-content-X donde
X es el numero de hijos (mayor a 3)*/

@keyframes placeholderAnimate {
  0% {
    background-position: -644px 0;
  }
  100% {
    background-position: 644px 0;
  }
}
/* Variables para el modo oscuro */
body {
  --bkg-color: #fff;
  --cnt-color: hsl(0, 0%, 88%);
  --lth-color: hsl(0, 0%, 77%);
}
body.dark-theme {
  --bkg-color: #121212;
  --cnt-color: hsl(0, 0%, 18%);
  --lth-color: hsl(0, 0%, 28%);
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --bkg-color: #121212;
    --cnt-color: hsl(0, 0%, 18%);
    --lth-color: hsl(0, 0%, 28%);
  }
  body.light-theme {
    --bkg-color: #fff;
    --cnt-color: hsl(0, 0%, 88%);
    --lth-color: hsl(0, 0%, 77%);
  }
}
